@model List<WorkListDto>
@{
    int count=0;
}
<div class="text-center" style="margin:200px">
    <h1 class="display-4">Welcome</h1>
    <h5><a asp-action="create" asp-controller="home">Create</a></h5>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    count++;
                    <tr>
                        <th scope="row">@count</th>
                        <td>@item.Definition</td>
                        <td>@item.IsCompleted</td>
                        <td><a asp-action="update" asp-controller="home" asp-route-id="@item.Id">Update</a></td>                        
                        <td><a asp-action="remove" asp-controller="home" asp-route-id="@item.Id">Remove</a></td>                        
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>
